In [1]:
import pandas as pd
import re
from datetime import datetime

In [2]:
# Function to calculate age
def calculate_age(birthdate):
    if pd.isna(birthdate):
        return None
    today = datetime.today()
    return today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

# Function to extract numeric value from string
def extract_numeric(value):
    numeric_string = re.sub(r'[^\d.]', '', value)
    return float(numeric_string) if numeric_string else 0.0

def lowercase(text):
    # Convert to lowercase
    return text.lower()

In [3]:
# Dictionary to store the DataFrames
dataframes = {}

# List of filenames
files = ['Customers', 'Exchange_Rates', 'Products', 'Sales', 'Stores']

# Try different encodings for each file
for file in files:
    for encoding in ['utf-8', 'latin1', 'iso-8859-1']:
        try:
            df = pd.read_csv(f"Dataset-Copy1/{file}.csv", encoding=encoding)
            dataframes[file] = df
            break
        except UnicodeDecodeError:
            continue
    else:
        print(f"Failed to load {file} with utf-8, latin1, or iso-8859-1 encodings")

In [4]:
x= list(dataframes.keys())
for i in x:
    dataframes[i].columns = dataframes[i].columns.str.lower().str.replace(" ", "_")
df_customer,df_product,df_sales,df_stores,df_exchange_rates = dataframes[x[0]],dataframes[x[2]],dataframes[x[3]],dataframes[x[4]],dataframes[x[1]]

In [5]:
for i in df_customer.columns:
    if df_customer[i].dtype == "object" and i not in ['state_code','zip_code','birthday'] :
        df_customer[i] = df_customer[i].apply(lowercase)
    print(f"{i}: count -> {df_customer[i].nunique()}, percentage ->{(df_customer[i].nunique()/len(df_customer))*100}%, null percentage ->{(df_customer[i].isnull().sum()/len(df_customer))*100}%")
print(df_customer.info())
df_customer.head()

customerkey: count -> 15266, percentage ->100.0%, null percentage ->0.0%
gender: count -> 2, percentage ->0.013101008777675883%, null percentage ->0.0%
name: count -> 15118, percentage ->99.03052535045198%, null percentage ->0.0%
city: count -> 8258, percentage ->54.094065243023714%, null percentage ->0.0%
state_code: count -> 467, percentage ->3.0590855495873184%, null percentage ->0.0655050438883794%
state: count -> 512, percentage ->3.353858247085026%, null percentage ->0.0%
zip_code: count -> 9505, percentage ->62.262544215904626%, null percentage ->0.0%
country: count -> 8, percentage ->0.05240403511070353%, null percentage ->0.0%
continent: count -> 3, percentage ->0.019651513166513822%, null percentage ->0.0%
birthday: count -> 11270, percentage ->73.82418446220359%, null percentage ->0.0%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customerkey  15266 non-null  int64
 1   gender       15266 non-null  object
 2   name         15266 non-null  object
 3   city         15266 non-null  object
 4   state_code   15256 non-null  object
 5   state        15266 non-null  object
 6   zip_code     15266 non-null  object
 7   country      15266 non-null  object
 8   continent    15266 non-null  object
 9   birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB
None

,customerkey,gender,name,city,state_code,state,zip_code,country,continent,birthday
0,301,female,lilly harding,wandearah east,SA,south australia,5523,australia,australia,7/3/1939
1,325,female,madison hull,mount budd,WA,western australia,6522,australia,australia,9/27/1979
2,554,female,claire ferres,winjallok,VIC,victoria,3380,australia,australia,5/26/1947
3,786,male,jai poltpalingada,middle river,SA,south australia,5223,australia,australia,9/17/1957
4,1042,male,aidan pankhurst,tawonga south,VIC,victoria,3698,australia,australia,11/19/1965

In [6]:
# As per above data for Customers table, need to change dtypes for Birthday and Zip Code column as datetime and numeric
df_customer['birthday'] = pd.to_datetime(df_customer['birthday'], errors='coerce')
df_customer['age'] = df_customer['birthday'].apply(calculate_age)
df_customer['state_code'] = df_customer['state_code'].fillna(df_customer['state'])

In [7]:
for i in df_product.columns:
    if df_product[i].dtype == "object" and i not in ['unit_cost_usd','unit_price_usd']:
        df_product[i] = df_product[i].apply(lowercase)
    print(f"{i}: count -> {df_product[i].nunique()}, percentage ->{(df_product[i].nunique()/len(df_product))*100}%, null percentage ->{(df_product[i].isnull().sum()/len(df_product))*100}%")
print(df_product.info())
df_product.head()

productkey: count -> 2517, percentage ->100.0%, null percentage ->0.0%
product_name: count -> 2517, percentage ->100.0%, null percentage ->0.0%
brand: count -> 11, percentage ->0.43702820818434646%, null percentage ->0.0%
color: count -> 16, percentage ->0.6356773937226857%, null percentage ->0.0%
unit_cost_usd: count -> 480, percentage ->19.07032181168057%, null percentage ->0.0%
unit_price_usd: count -> 426, percentage ->16.924910607866508%, null percentage ->0.0%
subcategorykey: count -> 32, percentage ->1.2713547874453714%, null percentage ->0.0%
subcategory: count -> 32, percentage ->1.2713547874453714%, null percentage ->0.0%
categorykey: count -> 8, percentage ->0.31783869686134286%, null percentage ->0.0%
category: count -> 8, percentage ->0.31783869686134286%, null percentage ->0.0%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   productkey      2517 non-null   int64
 1   product_name    2517 non-null   object
 2   brand           2517 non-null   object
 3   color           2517 non-null   object
 4   unit_cost_usd   2517 non-null   object
 5   unit_price_usd  2517 non-null   object
 6   subcategorykey  2517 non-null   int64
 7   subcategory     2517 non-null   object
 8   categorykey     2517 non-null   int64
 9   category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB
None

,productkey,product_name,brand,color,unit_cost_usd,unit_price_usd,subcategorykey,subcategory,categorykey,category
0,1,contoso 512mb mp3 player e51 silver,contoso,silver,$6.62,$12.99,101,mp4&mp3,1,audio
1,2,contoso 512mb mp3 player e51 blue,contoso,blue,$6.62,$12.99,101,mp4&mp3,1,audio
2,3,contoso 1g mp3 player e100 white,contoso,white,$7.40,$14.52,101,mp4&mp3,1,audio
3,4,contoso 2g mp3 player e200 silver,contoso,silver,$11.00,$21.57,101,mp4&mp3,1,audio
4,5,contoso 2g mp3 player e200 red,contoso,red,$11.00,$21.57,101,mp4&mp3,1,audio

In [8]:
for i in df_product.columns:
    if df_product[i].nunique() < 500:
        print(f"{i}:{df_product[i].unique()}")

brand:['contoso' 'wide world importers' 'northwind traders' 'adventure works'
 'southridge video' 'litware' 'fabrikam' 'proseware' 'a. datum'
 'the phone company' 'tailspin toys']
color:['silver' 'blue' 'white' 'red' 'black' 'green' 'orange' 'pink' 'yellow'
 'purple' 'brown' 'grey' 'gold' 'azure' 'silver grey' 'transparent']
unit_cost_usd:['$6.62 ' '$7.40 ' '$11.00 ' '$30.58 ' '$35.72 ' '$50.56 ' '$61.62 '
 '$91.93 ' '$84.49 ' '$48.92 ' '$99.14 ' '$106.69 ' '$76.45 ' '$91.95 '
 '$98.07 ' '$79.53 ' '$83.24 ' '$13.10 ' '$22.05 ' '$17.45 ' '$18.65 '
 '$45.98 ' '$49.69 ' '$34.36 ' '$55.18 ' '$52.88 ' '$61.16 ' '$82.83 '
 '$86.67 ' '$61.17 ' '$128.76 ' '$73.11 ' '$101.97 ' '$160.93 ' '$229.93 '
 '$152.94 ' '$960.82 ' '$392.60 ' '$216.12 ' '$505.85 ' '$527.53 '
 '$389.26 ' '$54.72 ' '$35.18 ' '$59.32 ' '$50.13 ' '$45.53 ' '$55.99 '
 '$45.83 ' '$43.04 ' '$53.76 ' '$58.36 ' '$29.01 ' '$33.65 ' '$275.46 '
 '$321.44 ' '$152.44 ' '$293.85 ' '$137.60 ' '$152.90 ' '$261.66 '
 '$252.47 ' '$316.85 ' '$264.72 ' '$367.43 ' '$266.26 ' '$167.73 '
 '$294.54 ' '$208.52 ' '$197.28 ' '$224.87 ' '$155.89 ' '$183.49 '
 '$101.46 ' '$243.27 ' '$244.72 ' '$183.54 ' '$229.47 ' '$142.24 '
 '$132.05 ' '$137.14 ' '$157.54 ' '$111.65 ' '$162.64 ' '$330.99 '
 '$287.92 ' '$151.30 ' '$169.69 ' '$397.25 ' '$404.63 ' '$376.63 '
 '$444.69 ' '$364.12 ' '$186.60 ' '$303.05 ' '$269.48 ' '$348.58 '
 '$195.26 ' '$203.42 ' '$171.30 ' '$163.15 ' '$196.23 ' '$195.24 '
 '$185.32 ' '$210.11 ' '$168.24 ' '$166.20 ' '$187.62 ' '$193.74 '
 '$198.32 ' '$430.38 ' '$321.05 ' '$137.63 ' '$188.13 ' '$254.86 '
 '$215.68 ' '$275.87 ' '$304.48 ' '$257.06 ' '$112.14 ' '$117.21 '
 '$160.49 ' '$271.35 ' '$205.09 ' '$224.97 ' '$119.11 ' '$128.30 '
 '$63.92 ' '$82.32 ' '$50.47 ' '$65.77 ' '$30.08 ' '$24.98 ' '$70.87 '
 '$22.86 ' '$29.82 ' '$760.38 ' '$827.97 ' '$459.40 ' '$116.75 '
 '$254.40 ' '$152.08 ' '$99.06 ' '$115.43 ' '$87.37 ' '$55.57 ' '$137.50 '
 '$83.16 ' '$62.95 ' '$73.12 ' '$77.72 ' '$40.28 ' '$69.25 ' '$72.56 '
 '$44.36 ' '$46.39 ' '$39.77 ' '$53.34 ' '$55.64 ' '$62.54 ' '$73.58 '
 '$72.66 ' '$68.52 ' '$54.26 ' '$75.54 ' '$78.19 ' '$82.17 ' '$75.87 '
 '$52.00 ' '$74.96 ' '$67.60 ' '$86.45 ' '$90.13 ' '$6.60 ' '$20.34 '
 '$9.17 ' '$7.59 ' '$6.88 ' '$4.37 ' '$5.86 ' '$4.84 ' '$5.29 ' '$15.24 '
 '$13.00 ' '$13.75 ' '$12.83 ' '$6.07 ' '$7.09 ' '$8.62 ' '$11.23 '
 '$10.99 ' '$13.22 ' '$15.27 ' '$10.15 ' '$7.90 ' '$9.13 ' '$11.68 '
 '$26.97 ' '$8.11 ' '$11.91 ' '$18.35 ' '$13.71 ' '$7.95 ' '$76.50 '
 '$13.77 ' '$23.45 ' '$32.19 ' '$10.69 ' '$43.06 ' '$6.63 ' '$49.70 '
 '$25.49 ' '$21.28 ' '$22.43 ' '$38.74 ' '$44.10 ' '$59.31 ' '$0.48 '
 '$1.01 ' '$17.33 ' '$28.04 ' '$36.33 ' '$21.41 ' '$66.26 ' '$68.06 '
 '$75.88 ' '$88.79 ' '$96.08 ' '$143.26 ' '$84.84 ' '$86.68 ' '$85.95 '
 '$90.55 ' '$91.05 ' '$76.53 ' '$207.74 ' '$194.82 ' '$143.48 ' '$155.43 '
 '$141.47 ' '$211.05 ' '$188.19 ' '$144.40 ' '$164.63 ' '$214.03 '
 '$139.80 ' '$222.98 ' '$152.68 ' '$209.39 ' '$157.73 ' '$148.08 '
 '$208.40 ' '$144.52 ' '$138.88 ' '$150.84 ' '$213.70 ' '$153.59 '
 '$217.68 ' '$146.70 ' '$159.20 ' '$180.22 ' '$275.92 ' '$260.28 '
 '$291.09 ' '$301.21 ' '$215.15 ' '$220.25 ' '$209.54 ' '$209.03 '
 '$331.32 ' '$330.66 ' '$324.69 ' '$530.11 ' '$523.49 ' '$516.86 '
 '$503.61 ' '$409.28 ' '$404.68 ' '$395.48 ' '$390.88 ' '$91.77 '
 '$84.12 ' '$81.57 ' '$285.12 ' '$255.68 ' '$293.39 ' '$305.81 '
 '$230.44 ' '$245.74 ' '$219.74 ' '$234.52 ' '$341.26 ' '$327.34 '
 '$536.74 ' '$506.92 ' '$496.98 ' '$408.36 ' '$403.76 ' '$393.64 '
 '$385.37 ' '$95.85 ' '$90.75 ' '$85.65 ' '$80.55 ' '$10.19 ' '$20.39 '
 '$18.86 ' '$35.68 ' '$25.47 ' '$3.54 ' '$26.58 ' '$7.64 ' '$12.74 '
 '$39.76 ' '$121.45 ' '$197.14 ' '$11.50 ' '$43.69 ' '$31.27 ' '$14.28 '
 '$94.27 ' '$5.09 ' '$8.66 ' '$10.57 ' '$12.41 ' '$13.33 ' '$15.17 '
 '$16.55 ' '$17.93 ' '$18.39 ' '$14.24 ' '$15.57 ' '$16.56 ' '$7.81 '
 '$18.48 ' '$20.15 ' '$21.82 ' '$7.23 ' '$8.16 ' '$13.92 ' '$10.27 '
 '$10.12 ' '$10.58 ' '$9.66 ' '$175.27 ' '$195.15 ' '$105.77 ' '$123.24 '
 '$132.90 ' '$117.73 ' '$137.96 ' '$141.64 ' '$134.74 ' '$118.65 '
 '$91.51 ' '$133.36 ' '$138.42 ' '$86.91 ' '$91.97 ' '$105.31 ' '$109.91 '
 '$123.70 ' '$95.65 ' '$132.44 ' '$122.78 ' '$142.56 ' '$125.90 '
 '$151.76 ' '$133.19 ' '$109.45 ' '$100.06 ' '$117.27 ' '$122.32 '
 '$128.88 ' '$131.87 ' '$137.04 ' '$121.93 ' '$26.21 ' '$26.67 ' '$27.13 '
 '$27.59 ' '$28.05 ' '$8.27 ' '$6.39 ' '$7.58 ' '$5.82 ' '$26.62 '
 '$73.57 ' '$82.77 ' '$56.08 ' '$86.14 ' '$2.80 ' '$3.56 ' '$3.17 '
 '$4.13 ' '$2.54 ' '$5.60 ' '$2.75 ' '$3.16 ' '$4.08 ' '$5.63 ' '$32.25 '
 '$28.55 ' '$25.75 ' '$36.70 ' '$33.32 ' '$11.62 ' '$36.11 ' '$40.93 '
 '$33.09 ' '$28.50 ' '$25.77 ' '$34.75 ' '$43.60 ' '$33.75 ' '$16.00 '
 '$45.87 ' '$23.86 ' '$198.39 ' '$24.83 ' '$15.64 ' '$21.92 ' '$13.26 '
 '$16.31 ' '$878.66 ' '$914.67 ' '$836.03 ' '$815.22 ' '$509.32 '
 '$878.96 ' '$915.08 ' '$836.45 ' '$815.68 ' '$509.78 ' '$1,060.22 '
 '$413.42 ' '$226.71 ' '$142.75 ' '$66.27 ' '$220.64 ' '$71.37 ' '$50.98 '
 '$48.43 ' '$488.70 ' '$403.53 ' '$363.75 ' '$258.99 ' '$131.28 '
 '$546.68 ' '$343.05 ' '$204.64 ' '$83.10 ' '$75.96 ' '$66.23 ' '$210.72 '
 '$123.47 ' '$105.76 ' '$40.76 ' '$15.29 ' '$211.53 ' '$197.74 '
 '$183.94 ' '$101.96 ' '$18.78 ' '$34.03 ' '$13.25 ' '$16.77 ' '$14.83 '
 '$22.94 ' '$71.44 ' '$15.80 ' '$96.57 ' '$160.95 ' '$183.95 ' '$1.50 '
 '$12.09 ' '$2.42 ' '$2.07 ' '$43.07 ' '$1.71 ']
unit_price_usd:['$12.99 ' '$14.52 ' '$21.57 ' '$59.99 ' '$77.68 ' '$109.95 ' '$134.00 '
 '$199.90 ' '$255.00 ' '$95.95 ' '$299.23 ' '$232.00 ' '$149.95 '
 '$199.95 ' '$296.00 ' '$156.00 ' '$181.00 ' '$25.69 ' '$47.95 ' '$37.95 '
 '$40.55 ' '$99.99 ' '$149.99 ' '$67.40 ' '$120.00 ' '$115.00 ' '$132.99 '
 '$249.99 ' '$169.99 ' '$119.99 ' '$279.99 ' '$143.40 ' '$200.00 '
 '$349.95 ' '$499.99 ' '$299.99 ' '$2,899.99 ' '$1,184.97 ' '$469.97 '
 '$1,099.99 ' '$1,592.20 ' '$763.51 ' '$119.00 ' '$69.00 ' '$129.00 '
 '$109.00 ' '$99.00 ' '$169.00 ' '$89.90 ' '$129.90 ' '$116.90 '
 '$126.90 ' '$56.90 ' '$66.00 ' '$599.00 ' '$699.00 ' '$299.00 '
 '$639.00 ' '$269.90 ' '$299.90 ' '$569.00 ' '$549.00 ' '$689.00 '
 '$799.00 ' '$1,109.00 ' '$579.00 ' '$329.00 ' '$889.00 ' '$409.00 '
 '$429.00 ' '$489.00 ' '$339.00 ' '$399.00 ' '$199.00 ' '$529.00 '
 '$480.00 ' '$360.00 ' '$500.00 ' '$499.00 ' '$279.00 ' '$259.00 '
 '$269.00 ' '$309.00 ' '$219.00 ' '$319.00 ' '$999.00 ' '$869.00 '
 '$369.00 ' '$1,199.00 ' '$879.90 ' '$819.00 ' '$967.00 ' '$1,099.00 '
 '$366.00 ' '$659.00 ' '$586.00 ' '$758.00 ' '$383.00 ' '$336.00 '
 '$320.00 ' '$384.90 ' '$382.95 ' '$363.50 ' '$456.90 ' '$330.00 '
 '$326.00 ' '$368.00 ' '$380.00 ' '$389.00 ' '$1,299.00 ' '$969.00 '
 '$269.95 ' '$499.90 ' '$469.00 ' '$599.90 ' '$919.00 ' '$559.00 '
 '$219.95 ' '$229.90 ' '$349.00 ' '$619.00 ' '$679.00 ' '$139.00 '
 '$179.00 ' '$59.00 ' '$49.00 ' '$90.00 ' '$2,295.00 ' '$2,499.00 '
 '$229.00 ' '$459.00 ' '$251.00 ' '$190.00 ' '$159.00 ' '$79.00 '
 '$209.00 ' '$87.00 ' '$91.00 ' '$78.00 ' '$116.00 ' '$121.00 ' '$136.00 '
 '$160.00 ' '$158.00 ' '$149.00 ' '$118.00 ' '$228.00 ' '$236.00 '
 '$248.00 ' '$102.00 ' '$163.00 ' '$147.00 ' '$188.00 ' '$196.00 '
 '$12.95 ' '$39.90 ' '$19.95 ' '$16.50 ' '$13.50 ' '$9.50 ' '$11.50 '
 '$29.90 ' '$25.50 ' '$27.90 ' '$11.90 ' '$13.90 ' '$16.90 ' '$33.90 '
 '$23.90 ' '$29.95 ' '$19.90 ' '$15.50 ' '$17.90 ' '$22.90 ' '$52.90 '
 '$15.90 ' '$25.90 ' '$26.90 ' '$15.60 ' '$230.90 ' '$50.99 ' '$69.99 '
 '$20.96 ' '$129.95 ' '$13.00 ' '$150.00 ' '$50.00 ' '$41.73 ' '$44.00 '
 '$75.99 ' '$95.90 ' '$0.95 ' '$1.99 ' '$33.99 ' '$55.00 ' '$41.99 '
 '$148.00 ' '$165.00 ' '$268.00 ' '$290.00 ' '$281.00 ' '$184.50 '
 '$188.50 ' '$186.90 ' '$196.90 ' '$198.00 ' '$231.00 ' '$627.00 '
 '$588.00 ' '$312.00 ' '$338.00 ' '$427.00 ' '$637.00 ' '$568.00 '
 '$314.00 ' '$358.00 ' '$646.00 ' '$304.00 ' '$673.00 ' '$332.00 '
 '$632.00 ' '$343.00 ' '$322.00 ' '$629.00 ' '$436.20 ' '$302.00 '
 '$328.00 ' '$645.00 ' '$334.00 ' '$657.00 ' '$480.50 ' '$391.90 '
 '$600.00 ' '$566.00 ' '$633.00 ' '$655.00 ' '$422.00 ' '$432.00 '
 '$411.00 ' '$410.00 ' '$1,000.00 ' '$998.00 ' '$980.00 ' '$1,600.00 '
 '$1,580.00 ' '$1,560.00 ' '$1,520.00 ' '$890.00 ' '$880.00 ' '$860.00 '
 '$850.00 ' '$180.00 ' '$170.00 ' '$620.00 ' '$556.00 ' '$638.00 '
 '$665.00 ' '$452.00 ' '$482.00 ' '$431.00 ' '$460.00 ' '$1,030.00 '
 '$988.00 ' '$1,620.00 ' '$1,530.00 ' '$1,500.00 ' '$888.00 ' '$878.00 '
 '$856.00 ' '$838.00 ' '$178.00 ' '$168.00 ' '$49.99 ' '$19.99 ' '$39.99 '
 '$36.99 ' '$49.96 ' '$6.95 ' '$52.13 ' '$14.99 ' '$24.99 ' '$77.99 '
 '$366.55 ' '$595.00 ' '$25.00 ' '$95.00 ' '$68.00 ' '$28.00 ' '$205.00 '
 '$9.99 ' '$16.99 ' '$22.99 ' '$26.99 ' '$28.99 ' '$32.99 ' '$35.99 '
 '$38.99 ' '$42.99 ' '$46.99 ' '$40.19 ' '$43.81 ' '$47.44 ' '$14.19 '
 '$16.00 ' '$42.00 ' '$31.00 ' '$22.00 ' '$23.00 ' '$21.00 ' '$589.00 '
 '$230.00 ' '$289.00 ' '$256.00 ' '$300.00 ' '$308.00 ' '$293.00 '
 '$258.00 ' '$301.00 ' '$189.00 ' '$239.00 ' '$208.00 ' '$288.00 '
 '$267.00 ' '$310.00 ' '$280.00 ' '$402.00 ' '$238.00 ' '$266.00 '
 '$398.00 ' '$298.00 ' '$56.99 ' '$57.99 ' '$58.99 ' '$60.99 ' '$17.99 '
 '$13.89 ' '$22.89 ' '$12.66 ' '$57.88 ' '$159.99 ' '$179.99 ' '$109.99 '
 '$259.99 ' '$289.99 ' '$5.50 ' '$6.99 ' '$6.89 ' '$8.99 ' '$4.99 '
 '$16.89 ' '$5.39 ' '$6.88 ' '$8.88 ' '$4.98 ' '$70.13 ' '$56.00 '
 '$79.80 ' '$72.45 ' '$22.79 ' '$89.00 ' '$64.90 ' '$55.90 ' '$50.54 '
 '$104.89 ' '$94.80 ' '$73.39 ' '$31.39 ' '$99.75 ' '$46.80 ' '$598.80 '
 '$54.00 ' '$34.00 ' '$43.00 ' '$26.00 ' '$32.00 ' '$2,652.00 '
 '$1,989.00 ' '$1,818.00 ' '$1,599.00 ' '$2,652.90 ' '$1,989.90 '
 '$1,818.90 ' '$1,599.90 ' '$999.90 ' '$3,199.99 ' '$899.00 ' '$493.00 '
 '$129.99 ' '$665.94 ' '$199.99 ' '$139.99 ' '$94.99 ' '$1,475.00 '
 '$877.50 ' '$791.00 ' '$508.00 ' '$257.50 ' '$1,650.00 ' '$745.99 '
 '$445.00 ' '$635.99 ' '$268.50 ' '$229.99 ' '$101.99 ' '$79.95 '
 '$29.99 ' '$459.99 ' '$429.99 ' '$399.99 ' '$36.83 ' '$73.99 ' '$25.99 '
 '$32.89 ' '$29.09 ' '$44.99 ' '$215.62 ' '$30.00 ' '$30.99 ' '$210.00 '
 '$350.00 ' '$400.00 ' '$2.94 ' '$23.72 ' '$4.74 ' '$4.06 ' '$3.35 ']
subcategorykey:[101 104 106 201 202 203 205 301 303 304 305 306 308 401 402 405 406 501
 503 504 602 701 702 801 802 803 804 805 806 807 808 505]
subcategory:['mp4&mp3' 'recording pen' 'bluetooth headphones' 'televisions'
 'vcd & dvd' 'home theater system' 'car video' 'laptops' 'desktops'
 'monitors' 'projectors & screens' 'printers, scanners & fax'
 'computers accessories' 'digital cameras' 'digital slr cameras'
 'camcorders' 'cameras & camcorders accessories' 'home & office phones'
 'touch screen phones' 'smart phones & pdas' 'movie dvd' 'boxed games'
 'download games' 'washers & dryers' 'refrigerators' 'microwaves'
 'water heaters' 'coffee machines' 'lamps' 'air conditioners' 'fans'
 'cell phones accessories']
categorykey:[1 2 3 4 5 6 7 8]
category:['audio' 'tv and video' 'computers' 'cameras and camcorders' 'cell phones'
 'music, movies and audio books' 'games and toys' 'home appliances']

In [9]:
# Filter values to keep only digits, dots, and dollar signs
df_product['filtered_values_unit_cost_usd'] = df_product['unit_cost_usd'].str.replace(r'[^\d.$]', '', regex=True)
df_product['filtered_values_unit_price_usd'] = df_product['unit_price_usd'].str.replace(r'[^\d.$]', '', regex=True)
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   productkey                      2517 non-null   int64
 1   product_name                    2517 non-null   object
 2   brand                           2517 non-null   object
 3   color                           2517 non-null   object
 4   unit_cost_usd                   2517 non-null   object
 5   unit_price_usd                  2517 non-null   object
 6   subcategorykey                  2517 non-null   int64
 7   subcategory                     2517 non-null   object
 8   categorykey                     2517 non-null   int64
 9   category                        2517 non-null   object
 10  filtered_values_unit_cost_usd   2517 non-null   object
 11  filtered_values_unit_price_usd  2517 non-null   object
dtypes: int64(3), object(9)
memory usage: 236.1+ KB

In [10]:
# Load and preprocess the Products data 
df_product['unit_cost_usd'] = df_product['unit_cost_usd'].apply(extract_numeric)
df_product['unit_price_usd'] = df_product['unit_price_usd'].apply(extract_numeric)
df_product = df_product.drop(['filtered_values_unit_cost_usd', 'filtered_values_unit_price_usd'], axis=1)
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   productkey      2517 non-null   int64
 1   product_name    2517 non-null   object
 2   brand           2517 non-null   object
 3   color           2517 non-null   object
 4   unit_cost_usd   2517 non-null   float64
 5   unit_price_usd  2517 non-null   float64
 6   subcategorykey  2517 non-null   int64
 7   subcategory     2517 non-null   object
 8   categorykey     2517 non-null   int64
 9   category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [11]:
for i in df_sales.columns:
    print(f"{i}: count -> {df_sales[i].nunique()}, percentage ->{(df_sales[i].nunique()/len(df_sales))*100}%, null percentage ->{(df_sales[i].isnull().sum()/len(df_sales))*100}%")
print(df_sales.info())
df_sales.head()

order_number: count -> 26326, percentage ->41.86438521722537%, null percentage ->0.0%
line_item: count -> 7, percentage ->0.011131607404109154%, null percentage ->0.0%
order_date: count -> 1641, percentage ->2.6095668214490173%, null percentage ->0.0%
delivery_date: count -> 1492, percentage ->2.3726226067044083%, null percentage ->79.064626932129%
customerkey: count -> 11887, percentage ->18.9030596018065%, null percentage ->0.0%
storekey: count -> 58, percentage ->0.09223331849119012%, null percentage ->0.0%
productkey: count -> 2492, percentage ->3.9628522358628584%, null percentage ->0.0%
quantity: count -> 10, percentage ->0.015902296291584506%, null percentage ->0.0%
currency_code: count -> 5, percentage ->0.007951148145792253%, null percentage ->0.0%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_number   62884 non-null  int64
 1   line_item      62884 non-null  int64
 2   order_date     62884 non-null  object
 3   delivery_date  13165 non-null  object
 4   customerkey    62884 non-null  int64
 5   storekey       62884 non-null  int64
 6   productkey     62884 non-null  int64
 7   quantity       62884 non-null  int64
 8   currency_code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB
None

,order_number,line_item,order_date,delivery_date,customerkey,storekey,productkey,quantity,currency_code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD

In [12]:
pd.set_option('display.max_rows', None)
df_sales_not_null_avg = df_sales[df_sales['delivery_date'].notnull()][['order_date','delivery_date']]
for i in df_sales_not_null_avg.columns:
    df_sales_not_null_avg[i] = pd.to_datetime(df_sales_not_null_avg[i], errors='coerce')
lag_days = (df_sales_not_null_avg['delivery_date'] - df_sales_not_null_avg['order_date']).dt.days.median()

df_sales['order_date'] = pd.to_datetime(df_sales['order_date'], errors='coerce')

# Impute missing delivery dates
df_sales['delivery_date'].fillna(df_sales['order_date'] + pd.Timedelta(days=lag_days), inplace=True)

df_sales['delivery_date'] = pd.to_datetime(df_sales['delivery_date'], errors='coerce')
print(df_sales.head())
print(df_sales.info())

   order_number  line_item order_date delivery_date  customerkey  storekey  \
0        366000          1 2016-01-01    2016-01-05       265598        10
1        366001          1 2016-01-01    2016-01-13      1269051         0
2        366001          2 2016-01-01    2016-01-13      1269051         0
3        366002          1 2016-01-01    2016-01-12       266019         0
4        366002          2 2016-01-01    2016-01-12       266019         0

   productkey  quantity currency_code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_number   62884 non-null  int64
 1   line_item      62884 non-null  int64
 2   order_date     62884 non-null  datetime64[ns]
 3   delivery_date  62884 non-null  datetime64[ns]
 4   customerkey    62884 non-null  int64
 5   storekey       62884 non-null  int64
 6   productkey     62884 non-null  int64
 7   quantity       62884 non-null  int64
 8   currency_code  62884 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 4.3+ MB
None

In [13]:
df_sales['currency_code'].unique()

array(['CAD', 'USD', 'GBP', 'EUR', 'AUD'], dtype=object)

In [14]:
for i in df_stores.columns:
    print(f"{i}: count -> {df_stores[i].nunique()}, percentage ->{(df_stores[i].nunique()/len(df_stores))*100}%, null percentage ->{(df_stores[i].isnull().sum()/len(df_stores))*100}%")
print(df_stores.info())
df_stores.head()

storekey: count -> 67, percentage ->100.0%, null percentage ->0.0%
country: count -> 9, percentage ->13.432835820895523%, null percentage ->0.0%
state: count -> 67, percentage ->100.0%, null percentage ->0.0%
square_meters: count -> 36, percentage ->53.73134328358209%, null percentage ->1.4925373134328357%
open_date: count -> 25, percentage ->37.3134328358209%, null percentage ->0.0%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   storekey       67 non-null     int64
 1   country        67 non-null     object
 2   state          67 non-null     object
 3   square_meters  66 non-null     float64
 4   open_date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB
None

   storekey    country                         state  square_meters  open_date
0         1  Australia  Australian Capital Territory          595.0   1/1/2008
1         2  Australia            Northern Territory          665.0  1/12/2008
2         3  Australia               South Australia         2000.0   1/7/2012
3         4  Australia                      Tasmania         2000.0   1/1/2010
4         5  Australia                      Victoria         2000.0  12/9/2015

In [15]:
df_stores[df_stores['square_meters'].isnull()]

    storekey country   state  square_meters open_date
66         0  Online  Online            NaN  1/1/2010

In [16]:
df_stores['open_date'] = pd.to_datetime(df_stores['open_date'], errors='coerce')
df_stores['square_meters'] = df_stores['square_meters'].fillna(0.0)

In [17]:
df_stores['country'].unique()

array(['Australia', 'Canada', 'France', 'Germany', 'Italy', 'Netherlands',
       'United Kingdom', 'United States', 'Online'], dtype=object)

In [18]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   storekey       67 non-null     int64
 1   country        67 non-null     object
 2   state          67 non-null     object
 3   square_meters  67 non-null     float64
 4   open_date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

In [19]:
for i in df_exchange_rates.columns:
    # if df_exchange_rates[i].dtype == "object" and i not in ['unit_cost_usd','unit_price_usd']:
    #     df_exchange_rates[i] = df_exchange_rates[i].apply(lowercase)
    print(f"{i}: count -> {df_exchange_rates[i].nunique()}, percentage ->{(df_exchange_rates[i].nunique()/len(df_exchange_rates))*100}%, null percentage ->{(df_exchange_rates[i].isnull().sum()/len(df_exchange_rates))*100}%")
print(df_exchange_rates.info())
df_exchange_rates.head()

date: count -> 2243, percentage ->20.0%, null percentage ->0.0%
currency: count -> 5, percentage ->0.04458314757021846%, null percentage ->0.0%
exchange: count -> 3473, percentage ->30.96745430227374%, null percentage ->0.0%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      11215 non-null  object
 1   currency  11215 non-null  object
 2   exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB
None

       date currency  exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415

In [20]:
df_exchange_rates['currency'].unique()

array(['USD', 'CAD', 'AUD', 'EUR', 'GBP'], dtype=object)

In [21]:
df_exchange_rates['date'] = pd.to_datetime(df_exchange_rates['date'], errors='coerce')

In [22]:
df_exchange_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      11215 non-null  datetime64[ns]
 1   currency  11215 non-null  object
 2   exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [23]:
# Merge dataframes
merged_df = df_sales.merge(df_customer, on='customerkey', how='left')
merged_df = merged_df.merge(df_stores, on='storekey', how='left', suffixes=('', '_store'))
merged_df = merged_df.merge(df_product, on='productkey', how='left', suffixes=('', '_product'))
merged_df = merged_df.merge(df_exchange_rates, left_on=['order_date', 'currency_code'], right_on=['date', 'currency'], how='left')
merged_df = merged_df.apply(lambda x: x.str.upper() if x.dtype == "object" else x)

In [25]:
merged_df.dtypes

order_number               int64
line_item                  int64
order_date        datetime64[ns]
delivery_date     datetime64[ns]
customerkey                int64
storekey                   int64
productkey                 int64
quantity                   int64
currency_code             object
gender                    object
name                      object
city                      object
state_code                object
state                     object
zip_code                  object
country                   object
continent                 object
birthday          datetime64[ns]
age                        int64
country_store             object
state_store               object
square_meters            float64
open_date         datetime64[ns]
product_name              object
brand                     object
color                     object
unit_cost_usd            float64
unit_price_usd           float64
subcategorykey             int64
subcategory               object
categorykey                int64
category                  object
date              datetime64[ns]
currency                  object
exchange                 float64
dtype: object

In [26]:
import pymysql

# Connection to MySQL
myconnection = pymysql.connect(host='127.0.0.1', user='root', passwd='Krisrak@123')

try:
    # Create the database
    with myconnection.cursor() as cursor:
        cursor.execute("CREATE DATABASE IF NOT EXISTS Dataspark_Global_Electronics")
    
    # Loop through each dataframe and create tables
    for df, table_name in zip(
        [df_customer, df_stores, df_product, df_exchange_rates, df_sales, merged_df],
        ['Customers', 'Stores', 'Products', 'Exchange_Rates', 'Sales', 'Merged_df']
    ):
        # Convert columns to uppercase if they are of object type
        df = df.apply(lambda x: x.str.upper() if x.dtype == "object" else x)
        
        # Get column details
        a = ",".join(f"{i} {j}" for i, j in zip(df.columns, df.dtypes))
        a = a.replace("int64", "INT").replace("object", "TEXT").replace("float64", "FLOAT").replace("datetime64[ns]", "DATETIME")
        
        # Create table
        with myconnection.cursor() as cursor:
            cursor.execute(f"CREATE TABLE IF NOT EXISTS Dataspark_Global_Electronics.{table_name} ({a})")
        
        # Insert rows
        sql = f"INSERT INTO Dataspark_Global_Electronics.{table_name} VALUES "
        for j in range(len(df)):
            with myconnection.cursor() as cursor:
                cursor.execute(f"{sql} {tuple(df.iloc[j])}")
            myconnection.commit()
finally:
    myconnection.close()

In [27]:
file_names = {
    'df_customer': 'customer_data.csv',
    'df_stores': 'stores_data.csv',
    'df_product': 'product_data.csv',
    'df_exchange_rates': 'exchange_rates_data.csv',
    'df_sales': 'sales_data.csv',
    'merged_df': 'All_data.csv'
}

df_customer.to_csv(file_names['df_customer'], index=False)
df_stores.to_csv(file_names['df_stores'], index=False)
df_product.to_csv(file_names['df_product'], index=False)
df_exchange_rates.to_csv(file_names['df_exchange_rates'], index=False)
df_sales.to_csv(file_names['df_sales'], index=False)
merged_df.to_csv(file_names['merged_df'], index=False)